<ion-view title="About Wohlig">

            <ion-content class="has-header">

<!--
                <div class="item item-divider">
                    Wohlig Technologies
                </div>
                <img src="img/ionic.jpg" class="img-half">
-->

                <div class="item item-divider">About</div>
                <p class="padding text-justify">we are a software development firm who have carved a niche in the initial stage of the founding in the field of erp, web & app development. the projects that we've developed mainly show our creativity and excellence in the field of information technology. we've made ourselves adaptable to the latest technology and we've developed a name in integrating various services on one platform with simplicity.
                </p>
                <div class="item item-divider">mission </div>
                <p class="padding text-justify">"we believe to change it and with that simplify complexity in information technology in all sectors."
                </p>
                <div class="item item-divider">
                    vision:
                </div>
                <p class="padding text-justify">"to innovate and create softwares which have the capability to change the service industry drastically."</p>



            </ion-content>
        <!--
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                
राजेंद्र गावित
                </div>
                <img src="img/ionic.jpg" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                जसा हिऱ्याचाजन्म कोळश्पालघर म्हटले कि आठवतात ते जनसामान्यांच्या हृदयावर राज्य करणारे कॉंग्रेसचे तडफदार नेते राजेंद्र गावित.साहेब म्हटले कि डोळ्यासमोर येतो पालघरचा विकास! गावित साहेब म्हणजे प्रयत्नांचा चा मेरू, गावित साहेब म्हणजेच साक्षात पालघरच्या विकासाचा गेरू  </p>
<p class="padding text-justify">
जन्म एका सर्वसामान्य आदिवशी कुटुंबातील असला तरी काम असामान्य! त्याच्या कामांची जाणीव सर्वसामान्य जनतेला झाली.आणि ते पाहून २००४ साली त्यांना कोन्ग्रेसाने उमेदवारी दिली. गावित साहेब राजकारणात तसे नवीनच! –पण पालघरच्या जनमानसात त्याची लोकप्रियता एकदम प्रवीण! विधानसभेच्या लढाईत ते अगदी अभिमन्यू प्रमाणे लढले. शिवसेनेच्या अभ्यद्य चाक्रयुहाला खिंडार पाडत केवळ चार ते पाच हजार मतांनी पराजित झाले. पराजित झाले म्हणजे हरतील पराजित झाले म्हणून खचतील ते गावित साहेब कसले? ते नव्या उमेदीने नव्या जोमाने पुंन्हा कामाला लागले. अगदी तन मन लावून ते पालघर मधील जनसामान्य लोकांची कामे करू लागले. अहोरात्र सेवा करू लागले. आणि त्यांनी उभा केला आजचा पालघर! विकसित पालघर!</p>
<p class="padding text-justify">
पालघर साठी त्यांनी काय नाही केले,विद्याथी दत्तक घेणे,विधवा महिलांना मदत करणे बेरोजगारांसाठी मार्गदर्शन शिबिरे आयोजित करणे यासारखी असंख्य कामे अगदी निस्वार्थी पद्धतीने केले आणि त्याच्या याच कामाच्या पद्धतीवर खुश होऊन २००९ साली कॉंग्रेसचे त्यांना पुंन्हा एकदा विधान सभेचे तिकीट दिले. मा. सोनिया गांधी आणि माणिकराव ठाकरे यांनी त्याच्यावर दाखवलेला विश्वास सार्थ ठरवत ते तब्बल वीस हजार मतांनी निवडून येत आपले जनसमर्थन प्रमाणबद्ध केले.</p>
<p class="padding text-justify">
राजेंद्र गावित यांच्या कामाची आवाका आणि पद्धत पाहून माणिकराव ठाकरे आणी महाराष्ट्राचे मुख्यमंत्री माननीय पृथ्वीराज चव्हाण यांनी त्यांना राज्यमंत्री पद दिले.</p>
<p class="padding text-justify">
गावित साहेब सर्व सामान्य लोकांच्या मनावर राज्य करणारे एक असामान्य असेच व्यक्तित्व आहे. यावेळी त्यांना विधान सभेत पाहण्यासाठी पालघरच्या जनतेचे डोळे आतुरले आहेत.</p>

            </ion-content>
        </ion-tab>
-->
</ion-view>
