<ion-view title="Services">
    <ion-tabs>

        <ion-tab title="Designing">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Designing
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        design is a plan for arranging elements in such a way as best to accomplish a particular purpose.
                        <br>Designing often necessitates considering the aesthetic, functional, economic and socio-political dimensions of both the design object and design process.
                        <br>It may involve considerable research, thought, modelling, interactive adjustment, and re-design.
                        <br>“truly elegant design incorporates top-notch functionality into a simple, uncluttered form.” — david lewis
                        <br>we designing corporate identity, cards, brochure, banner/posters, websites, graphics, images, etc.
                    </p>
                </div>

            </ion-content>
        </ion-tab>
        <ion-tab title="Web Development">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Web Development
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        web development is a broad term for the work involved in developing a web site for the internet (world wide web) or an intranet (a private network).
                        <br>we develop web-based internet applications, electronic businesses, and social network services.
                        <br>an ever growing set of tools and technologies have helped us build more dynamic, interactive and design oriented websites.
                        <br>web developers now help to deliver applications as web services which were traditionally only available as applications on a desk-based computer.
                        <br>
                    </p>
                </div>
                <div class="item item-divider item-icon-right">

                    we have fine experience in developing


                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        E-commerce
                        <br>Social network services
                        <br>Web Portal
                        <br>Animation with both HTML5 as well as Flash
                        <br>Responsive Web Development</p>
                </div>



            </ion-content>
        </ion-tab>


        <ion-tab title="Mobile App">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Mobile App
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        mobile apps make the availability of data faster and easier with minimal effort and a great interactivity.
                        <br>we make mobile applications customised according to the business.

                    </p>
                </div>
                <div class="item item-divider item-icon-right">

                    The mobile apps that we develop are compatible to the following mobile os’s


                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        iOS
                        <br>Android
                        <br>Blackberry
                        <br>Windows
                        <br>Symbian
                </div>



            </ion-content>
        </ion-tab>

        <ion-tab title="SEO">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    SEO
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        Search engine optimization is a methodology of strategies, techniques and tactics used to increase the amount of visitors to a website by obtaining a high-ranking placement in the search results page of a search engine (serp) -- including google, bing, yahoo and other search engines.
                        <br>Seo helps to ensure that a site is accessible to a search engine and improves the chances that the site will be found by the search engine.
                        <br>It is common practice for internet users to not click through pages and pages of search results, so where a site ranks in a search is essential for directing more traffic toward the site.
                        <br>The higher a website naturally ranks in organic results of a search, the greater the chance that that site will be visited by a user.
                    </p>
                </div>
                <div class="item item-divider item-icon-right">
                    Types:
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        Pay Per Click
                        <br>Social Media Optimisation (SMO)
                        <br>Analytics
                        <br>Google Ad Words
                </div>

            </ion-content>
        </ion-tab>

   
        <ion-tab title="Promotions">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    We offer promotions in order to meet following basic objectives:
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        


To present information to consumers as well as others.<br>
To increase demand.<br>
To differentiate a product.<br>


                    </p>
                </div>
                <div class="item item-divider item-icon-right">
                    Various promotions we offer are:
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
Personalised T-shirt<br>
Mug<br>
Pens<br>
Cap<br>
Card holder<br>
Gifts
                </div>

            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
