<ion-view title="Wohlig Details">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Wohlig
                </div>

<!--
                <div class="padding text-justify">
                    <p class="padding text-justify">
                        Magathane Vidhan Sabha constituency is a part of Mumbai North parliamentary Constituency .
                        <br>This area consists of Borivali and Kandivali east located near the Borivali National Park.
                        <br>Magathane is largely represented by middle class people predominently coming from maharashtrian background .
                        <br>This area also has a considerable cosmopolitan population.
                        <br>In Magathane there is a scope for development for local infrastructure which will uplift the quality of life of people living in this area.
                        <br>This area needs a strong and development oriented leadership.
                        <br>There are around 3 lac voters in Magathane constituency.</p>
                </div>
-->
                




            </ion-content>
        </ion-tab>
<!--
        <ion-tab title="मराठी">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    पालघर
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        महाराष्ट्रात पालघर नावाचा ३६ वा नवीन जिल्हा बनवण्यात आला आहे.हा जिल्हा मुंबईपासून 87 किलोमीटर पर्यंत पसरला आहे आणि पश्चिम रेल्वेच्या गड्या इथे धावतात.</p>
                    <p class="padding text-justify">
                        12 लाख पेक्षा जास्त लोकसंख्या असलेला पालघर ठाणे डोंगर , जंगले आणि सुंदर समुद्र किनारपट्टी असा सुंदर पालघर जिल्हा आहे.</p>
                    <p class="padding text-justify">
                        1999 पासून एक जिल्हा पहिली मुख्य दोन भागात विभाजन आहे.</p>
                    <p class="padding text-justify">
                        विरार नंतर सर्व सुविधा असणारे पालघर एक महत्वाचे केंद्र आहे. इथे अनेक गावे रस्त्याच्या माध्यमातून पालघरला जोडली आहेत त्यामुळे आजू बाजूच्या खेड्यातील लोक बजार रहाट, दवाखाने व्यवसाय, नोकरी साठी पालघर मध्ये येतात.</p>
                </div>
                <div class="item item-divider item-icon-right">
                    रोजगार
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        येथील लोकांचा मुख्य व्यवसाय रोजगार कारखाने,व्यवसाय आणि शेती वर अवलंबून आहे.. तारापुर येथे वसलेले एमआयडीसी व्यतिरिक्त, अभियांत्रिकी, औषधनिर्मिती, प्लॅस्टीक, वस्त्रोद्योग, नोटबुक उद्योग म्हणून अनेक लघु उद्योग येथे आहे. महाराष्ट्र मधील सर्वात मोठा मासेमारी केंद्र सातपाटी येथे आहे.जे पालघर रेल्वे स्टेशन पासून 8 किलोमीटर सुमारे स्थित आहे. खेड्यात चिकू , नारळ, पाम यांचे उत्पादन घेतले जाते पावसाळ्यात तांदळाचे पिक घेतले जाते. महाराष्ट्र सरकारने पालघर मध्ये Cocnut संशोधन केंद्र आणि शेती संशोधन केंद्राची स्थापना केली आहे.</p>
                </div>
                <div class="item item-divider item-icon-right">

                    लोकसंख्याशास्त्र
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        2011 च्या भारतीय जनगणनेनुसार, [3] पालघर 68.930 पुरुषांची संख्या व महिलांची संख्या लोकसंख्येच्या 32.407 म्हणजेच 47.1% होती. पालघर 59.5% च्या राष्ट्रीय सरासरी पेक्षा अधिक 77,52% सरासरी साक्षरता दर आहे, ज्यामध्ये पुरुष साक्षरता 81.2% आहे आणि महिला साक्षरता 73,35% आहे</p>
                    <p class="padding text-justify">
                        औद्योगिकीकरणाने हळूहळू पालघर चेहरा बदलत आहे. . पालघर युवा लघु रोजगार मिळत आहेत वमध्यम उद्योगांना आणि परिसरात सुमारे येत. पुरातन दिवसांत कृषी उदरनिर्वाहाचे मुख्य स्त्रोत होता, पण औद्योगीकरणास त्यांना नवीन मार्ग उघडला आहे. योग्य मुंबई, वसई, बोईसर मध्ये जागा, पायाभूत सुविधा मर्यादेसह - पालघर नवीन उद्योग विस्तारत आहेत
                    </p>

                </div>

            </ion-content>
        </ion-tab>
-->

    </ion-tabs>
</ion-view>
