<ion-view title="Wohlig Technologies">
    <ion-content class="has-header">
       
        <div class="grid">
            <div class="row">
                <div class="col col-33">
                    <a href="#/app/about">
                        <i class="icon ion-man"></i>
                        <p>About Wohlig</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#/app/party">
                        <i class="icon ion-ios7-people"></i>
                        <p>Team</p>
                    </a>
                </div>
                
<!--
                <div class="col col-33">
                    <a href="#/app/schedule">
                        <i class="icon ion-calendar"></i>
                        <p>Schedule</p>
                    </a>
                </div>
-->
                <div class="col col-33">
                    <a href="#/app/constituency">
                        <i class="icon ion-chatboxes"></i>
                        <p>Wohlig Details</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <a href="#/app/wall">
                        <i class="icon ion-chatbox mywall"></i>
                        <p>Wall</p>
                    </a>
                </div>
                
                <div class="col col-33">
                    <a href="#/app/schedule">
                        <i class="icon ion-calendar"></i>
                        <p>Services Provided</p>
                    </a>
                </div>
                
                <div class="col col-33">
                    <a href="#/app/photos">
                        <i class="icon ion-image"></i>
                        <p>Photos</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <a href="#/app/videos">
                        <i class="icon ion-film-marker"></i>
                        <p>Video Gallery</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#/app/facebook">
                        <i class="icon ion-social-facebook"></i>
                        <p>Facebook</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#/app/twitter">
                        <i class="icon ion-social-twitter"></i>
                        <p>Twitter</p>
                    </a>
                </div>
            </div>
            <div class="row">
<!--
                <div class="col col-33">
                    <a href="#/app/youtube">
                        <i class="icon ion-social-youtube"></i>
                        <p>Live Telecast</p>
                    </a>
                </div>
-->
                
                <div class="col col-33">
                    <a href="mailto:info@wohlig.com?subject=Enquiry%20for%20Politician%20App">
                        <i class="icon ion-email"></i>
                        <p>Enquiry Mail</p>
                    </a>
                </div>
                
                <div class="col col-33">
                    <a href="#/app/upload">
                        <i class="icon ion-paperclip"></i>
                        <p>Share</p>
                    </a>
                </div>
<!--
                <div class="col col-33">
                    <a href="#/app/voteform">
                        <i class="icon ion-thumbsup"></i>
                        <p>Vote</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="#/app/membership">
                        <i class="icon ion-person-add"></i>
                        <p>Membership Form</p>
                    </a>
                </div>
-->
            </div>
<!--
            <div class="row">
                <div class="col col-33">
                    <a href="mailto:info@wohlig.com?subject=Enquiry%20for%20Politician%20App">
                        <i class="icon ion-email"></i>
                        <p>Enquiry Mail</p>
                    </a>
                </div>
                
                <div class="col col-33">
                    <a href="#/app/upload">
                        <i class="icon ion-paperclip"></i>
                        <p>Share</p>
                    </a>
                </div>
                
            </div>
-->

    </ion-content>
</ion-view>
