<ion-view title="Team">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">Wohlig Team</div>
                    <div class="row">
                      <div class="col col-50">
                          <img src="img/hero1.jpg" class="full-image">
                      </div>
                      <div class="col col-50">
                          <img src="img/hero2.jpg" class="full-image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col-50">
                          <img src="img/hero3.jpg" class="full-image">
                      </div>
                      <div class="col col-50">
                          <img src="img/hero4.jpg" class="full-image">
                      </div>
                    </div>



                </div>
            </ion-content>
    
</ion-view>
