<ion-view title="Products">
    <ion-tabs>

        <ion-tab title="E-Commerce">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    E-Commerce
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        When it comes to ecommerce websites it's all about functionality, features and design.
                        <br>Luckily you've found us and we do all of these things under one roof. our websites are easy to use, easy to manage and give you control over maintaining your ecommerce website.
                        <br>We specialize in customizations and special applications to meet your every need and build your website upon a solid foundation for future growth.
                        <br>Our design and layouts are custom for each client and project.
                    </p>
                </div>

            </ion-content>
        </ion-tab>
        <ion-tab title="Ipad Menu">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    Ipad Menu
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        ipad menu is primarily made for guests who stay and need additional services like internet, entertainment-in-the-room, games for children and so on.
                        <br>This product has the capability to change the way a guest can be entertained apart from the conventional ways.
                        <br>Easy interactivity between the hotel, restaurant, hospitals attendant and the guest is the main feature of this product with a personalised touch.
                        <br>The application can be customised as per the business requirement and the user interactivity that the client wants.
                    </p>
                </div>

            </ion-content>
        </ion-tab>


        <ion-tab title="ERP">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    ERP
                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">
                        Enterprise resource planning (erp) is business management software that allows an organization to use a system of integrated applications to manage the business.
                        <br>Our erp consists of many enterprise software modules that are focused on one area of business processes, such as product development or marketing.
                        <br>Some of the more common erp modules include those for product planning, material purchasing, inventory control, distribution, accounting, marketing, finance and hr.
                        <br>



                    </p>
                </div>
                <div class="item item-divider item-icon-right">

                    We specialize in


                </div>

                <div class="padding text-justify">
                    <p class="padding text-justify">

                        Customized ERP
                        <br>Customer Relationship Mgmt
                        <br>Human Resource Mgmt
                        <br>Customised – fully hand coded.
                        <br>IVR
                        <br>Financial management
                        <br>Manufacturing resource management
                </div>



            </ion-content>
        </ion-tab>

    </ion-tabs>

</ion-view>
